#preloader,
.pace-progress {
    background-color: #b4d2c8;
}

a {
    color: #b4d2c8;
}

.jackrose-sow-gallery-grid-filters a.active {
    border-color: #b4d2c8;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: #b4d2c8;
    border-color: #b4d2c8;
    color: #ffffff;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background-color: #bcd7ce;
    border-color: #bcd7ce;
    color: #ffffff;
}

.header-section,
.header-navigation ul ul {
    background-color: #ffffff;
}

.header-section,
.header-navigation ul ul,
.header-navigation ul ul li {
    border-color: #e5e5e5;
}

.header-section,
.header-section a,
.header-navigation-toggle {
    color: #888888;
}

.header-section a:hover,
.header-section a:focus,
.header-navigation-toggle:hover,
.header-navigation-toggle:focus {
    color: #444444;
}

.header-navigation>div>ul>li>a:hover:after,
.header-navigation>div>ul>li>a.focus:after {
    background-color: #b4d2c8;
}

.header-section .ribbon-menu,
.header-section .ribbon-menu:hover,
.header-section .ribbon-menu:focus {
    background-color: #b4d2c8;
    color: #ffffff;
}

.header-section .ribbon-menu:after {
    border-color: #b4d2c8;
}

.sakura.hero-effect-item {
    background: #ffffff;
}

.hero-button,
.hero-button:hover,
.hero-button:focus {
    color: #ffffff;
}

.footer-section {
    padding: 15% 0 3em;
    background-color: #ffffff;
    background-image: url(../images/footer_img.jpeg);
    background-repeat: no-repeat;
    background-position: center top;
    color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer-section a,
.footer-section a:hover,
.footer-section a:focus {
    color: #ffffff;
}

.page-template-invitation {
    background-color: #c8dcd2;
    background-image: url(../images/invitation-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 1023px) {
    .header-navigation>div {
        background-color: #ffffff;
    }

    .header-navigation>div>ul,
    .header-navigation li {
        border-color: #e5e5e5;
    }
}